.followers {
  height: 50px;
  width: 240px;
  padding: 40px;
  margin: 10px 40px;
  border-radius: 3px;
}
.followers_git{
  background-color: #f3f3f3;
}
.followers_git li {
  color: #000;
  font-size: 21px;
}
.followers_twitter {
  background: #26a6d1;
}
.followers_twitter li{
  color: #fff;
  font-size: 21px;
}
.followers_fb {
  background: #3b5998;
}
.followers_fb li {
  color: #fff;
  font-size: 21px;
}
.followers p {
   color: #ebd6d6;
   font-size: 14px;
 }