.footer {
  font-family: 'Montserrat', sans-serif;
}
.footer-line {
  border-bottom: 3px solid #f4e1e2;
  background: #f4e1e2;
  opacity: 0.2;
  position: relative;
  bottom: 20px;
}
.footer__logo_p {
  text-align: left;
  font-size: 14pt;
  color: #848e97;
}
.navigation__title {
  color: #473232;
  font-size: 16pt;
  padding-top: 15px;
}
.navigation__menu {
  padding: 0;
}
.navigation__menu_item {

}
.navigation__link {
  color: #a285a9;
  font-size: 15pt;
  text-decoration: none;
}
.contact__text {
  color: #848e97;
  font-size: 14pt;
  text-align: left;
}
.contact__phone-number {
  font-size: 28pt;
  font-weight: 700;
  color: #31384d;
  padding-top: 7px;
}
.info__title {
  padding-top: 15px;
  color:  #31384d;
  font-size: 16pt;
}
.info__text {
  color: #848e97;
  font-size: 14pt;
  text-align: left;
}