.fork_bg {
    background: url(../img/bg_forck.png) no-repeat center top / cover;
    height: 800px;
    font-family: Montserrat, sans-serif;
}
.container {
  padding: 20px;

}
h1 {
  font-weight: 700;
  font-size: 60pt;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
p{
  font-family: lato, sans-serif;
  font-size: 22pt;
  color: #a285a9;
  text-align: center;
  padding: 0;
}
.version {
  font-size: 12pt;
  color: #9b9098;
  text-align: center;
  padding: 0;
}


