.extensions {
  font-family: 'Montserrat', sans-serif;
}
.extension__title {
  font-size: 28pt;
  color: #dac5ce;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 38px;

}
.extension__subtitle {
  color: #b79db7;
  font-size: 12pt;
  padding-bottom: 20px;
}
.extension__text {
  font-size: 9pt;
  color: #ab9ea5;
  padding-bottom: 20px;
  text-align: left;
}
.future__link {
  color: #a285a9;
  font-size: 10pt;
  border: 1px solid #f4e1e2 ;
  background-color: #f4e1e2;
  padding: 10px 30px;
  border-radius: 3px;
  opacity: 0.5;
}
.release__title {
  font-size: 28pt;
  color: #dac5ce;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 38px;
}
.release__subtitle {
  color: #b79db7;
  font-size: 12pt;
  padding-bottom: 20px;
}
.release__text {
  font-size: 9pt;
  color: #ab9ea5;
  padding-bottom: 20px;
  text-align: left;
}
.blog__title {
  font-size: 28pt;
  color: #dac5ce;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 38px;
}
.blog__subtitle {
  color: #b79db7;
  font-size: 12pt;
  padding-bottom: 20px;
}
.blog__date {
  font-size: 9pt;
  color: #ab9ea5;
  padding-bottom: 20px;
  text-align: left;
}