.pricing {
  background: url(../img/base_copy.png) no-repeat center top / cover;
}
//стиля лучше не вешать на теги если это не зброс стилей
.pricing h1 {
  color: #fdeaeb;
  font-size: 35px;
  font-weight: 700;
}