.download {
  display: flex;
  justify-content: center;
}
.download_a{
  border: 1px solid #a285a9 ;
  background-color: #a285a9;
  color: #fdeaeb;
  padding: 17px 55px;
  border-radius: 32px;
  font-weight: 700;
  font-size: 14pt;
  position: relative;
  bottom: 55px;
}
.download_p {
  text-align: center;
  color: #e5d1d1;
  font-size: 12px;
  position: relative;
  bottom: 35px;
}
.revolution h2 {
  color: #80687b;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40pt;
  text-align: center;
  padding-bottom: 20px;
}
.revolution p {
  font-family: "Source Sanse Pro", sans-serif;
  font-size: 12pt;
  color: #919191;
}
.revolution_div_img {
  display: flex;
  justify-content: center;
}