.what_you_get{
  background: #f4f4f4;
}
.what_you_get h1 {
  color:#8d81ac;
  font-size: 35px;
}
.what_you_get h1:after {
  content: '>';
}
//почитать про псевдоелементы как они описуются

.what_you_get h1:before {
  content: '<';
  font-weight: 700;
}