.what_you_get{
  background: #f4f4f4;
}
.what_you_get h1 {
  color:#8d81ac;
  font-size: 35px;
  font-weight: 700;
  &:after{
    content: '>';
  }
  &:before {
    content: '<';
  }
}
.how_match_description {
  word-wrap: break-word;
  font-size: 11px;
  padding: 20px;
  color: $primary-color;
}
