$primary-color: #ffffff;

body{
  background-color: #fff;
}
a {
  color: $primary-color;
  text-decoration: none;
  &:hover{
    text-decoration-line: none;
  }
}

li {
  list-style-type: none;
}



@import "libs";
//@import "var";
@import "header";
@import "fork";
@import "revolution";
@import "what_you_get";
@import "people_talk";
@import "carousel";
@import "pricing";
@import "subscribe";
@import "future";
@import "footer";
