
@import "libs.sass";
@import "header.scss";
@import "fork";
@import "revolution";
@import "what_you_get";
@import "testimonials";
@import "carousel";
@import "pricing";
@import "subscribe";
@import "future";
@import "footer";



body{
  background-color: #fff;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
