.people_talk {
  background: url(../img/base_copy.png) no-repeat center top / cover;
}
.people_talk h1 {
  font-size: 35px;
  color: #fdeaeb;

}

//названия классов должны быть понятны следующиму разработчику
.w {
  color: #f8b73e;
}
.people__block_text {
  font-size: 16px;
  font-family: "Source Sanse Pro", sans-serif;
  font-weight: 700;
  padding: 20px;
}
.people__logo{
  text-align: center;
}